/*----- LAYOUT -----*/

.grid {
    /*width: 330px;*/
    /*height: 310px;*/
    border: 3px solid white;
    z-index: 1;
    padding-bottom: 30px;
}

.wrapper {
    width: 700px;
    margin: 0 auto;
}

.row {
    clear: both;
}

.pixel {
    width: 20px;
    height: 20px;
    border: 1px solid grey;
    float: left;
}

.swatch {
    width: 40px;
    height: 40px;
    border: 1px solid grey;
    border-radius: 50%;
    float: left;
    margin: 3px;
}

.indicator {
  width: 40px;
  height: 40px;
  border: 1px solid grey;
  border-radius: 50%;
  float: right;
}

/*----- STYLE -----*/

h1 {
   font-family: '8BITWONDERNominal';
   font-weight: normal;
   font-style: normal;
   font-size: 50px;
   text-align: center;
}
