/*----- LAYOUT -----*/

.grid {
    width: 660px;
    height: 660px;
    padding-bottom: 30px;
    padding-left: 100px;
    padding-top: 25px;
    float: left;
}

.row {
    clear: both;
}

.pixel {
    width: 20px;
    height: 20px;
    border: 1px solid grey;
    float: left;
}

.palettes {
  width: 660px;
  height: 660px;
  float: left;
}

.palette {
  padding-bottom: 10px;
  padding-right: 100px;
  padding-top: 25px;
}

.swatches {
  text-align: center;
  padding-top: 5px;
}

.label {
  font-family: '8BITWONDERNominal';
  margin: auto;
  text-align: center;
}

.swatch {
    width: 40px;
    height: 40px;
    border: 1px solid grey;
    border-radius: 50%;
    display: inline-block;
    margin: 3px;
    text-align: center;
}

.indicator {
  width: 40px;
  height: 40px;
  border: 1px solid grey;
  border-radius: 50%;
  display: inline-block;
  margin: 3px;
  text-align: center;
}

/*----- STYLE -----*/

h1 {
   font-family: '8BITWONDERNominal';
   font-weight: normal;
   font-style: normal;
   font-size: 50px;
   text-align: center;
   padding-top: 20px;
}
